/* Start Global Rules */
@font-face {
    font-family: "arabic";
    src: url("../fonts/din-next-lt-w23-regular.ttf");
}

:root {
    --light-blue: #c0e2fc;
    --color-green: #028e80;
    --light-green: #46954b;
    --black-50: #808285;
    --color-text: #32394a;
    --bg-overflow: rgba(0, 0, 0, 0.699);
    --color-blue: #0995eb;
    --bg-color: #ecf4fa;
    --bg-light-green: #ecf8ff;
    --colo-red: #ff4343;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "arabic";
}
body {
    font-family: "arabic";
}

a {
    text-decoration: none;
}
@media (min-width: 1200px) {
    .container {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}
@media (max-width: 767.98px) {
    .container {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
}

/* Start Global Rules */
/* Start Components */
.logo {
    text-align: center;
    margin-bottom: 1.5rem;
}
.logo img {
    width: 42px;
    margin-bottom: 5px;
}
.logo h6 {
    color: var(--color-green);
    font-size: 20px;
    word-spacing: 5px;
    margin-bottom: 0;
    font-weight: bold;
}
.logo p {
    color: var(--black-50);
    font-size: 12px;
    word-spacing: 5px;
    margin-bottom: 0;
}
.sub {
    border-radius: 12px;
    color: white;
    background-color: var(--color-blue);

    width: 250px;
    height: 55px;

    outline: none;

    border: none;
}
.back {
    border-radius: 12px;
    color: white;
    background-color: #707070;

    width: 250px;
    height: 55px;

    outline: none;

    border: none;
}
.error {
    color: red;
    max-width: 625px;
    margin: auto;
    opacity: 0;
    width: 100%;
}
.num-order .count {
    color: var(--colo-red);
}
.levels-bar {
    list-style: none;
    padding: 0;
    z-index: 1;
    position: relative;
}
.levels-bar::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 27%;
    z-index: -1;
    transform: translateX(-50%);
    width: 77%;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-image: linear-gradient(to left, transparent 27%, transparent 27%) 1;
}
.levels-bar::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 27%;
    z-index: -2;
    transform: translateX(-50%);
    width: 77%;
    border-bottom-style: dotted;
    border-bottom-width: 3px;
    border-bottom-color: #aeaeae;
}
.levels-bar .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #aeaeae;
    display: flex;
    font-weight: bolder;
    align-items: center;
    background-color: var(--bg-color);
    color: #aeaeae;
    justify-content: center;
    font-size: 23px;
}
.levels-bar li {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 101px;
    color: #aeaeae;
}
@media (max-width: 575.98px) {
    .levels-bar {
        width: 100%;
    }
    .levels-bar li {
        width: calc(100% / 4);
        height: 150px;
    }
    .levels-bar::before {
        top: 33% !important;
    }
    .levels-bar::after {
        top: 33% !important;
    }
}

.levels-bar .active .icon {
    border: 5px solid var(--color-blue);

    color: var(--color-blue);
}
.levels-bar li.active {
    color: var(--color-text);
}
.icon-back {
    height: 50px;
    width: 57px;
    background-color: #b8b8b8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black !important;
    border-radius: 9px;
}
.icon-back:hover {
    color: black;
}
.type .box-one {
    width: 206px;
    height: 147px;
    border: 1px solid #0491e8;
    border-radius: 8px;
    background: #ecf8ff;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    font-size: 22px;
    color: var(--color-blue);
    font-weight: bold;
    justify-content: center;
}
.type .box-one svg {
    font-size: 50px;
}
.type .box-two > div {
    color: var(--color-blue);
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 199px;
    height: 47px;
    background: #ecf4fa;
    border: 2px solid #0491e8;
    border-radius: 9px;
}
.type .box-two > div:first-child {
    margin-bottom: 20px;
}
.choices__inner {
    background: #ffffff !important;
    border: 0.5px solid #a5a5a5 !important;
    padding: 12px 10px !important;
    border-radius: 12px !important;
    position: relative !important;
}
.choices__inner::before {
    position: absolute;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    left: 2%;
    height: 30px;
    top: 24%;
    width: 22px;
    display: flex;
    color: var(--color-blue);
    content: "\f107";
    z-index: 1;
    background-color: white;
    align-items: center;
    justify-content: center;
}
.choices__list.choices__list--dropdown {
    border-radius: 0px !important;
    border-top: none !important;
    margin-top: -11px !important;
}

.choices__item {
    font-size: 18px !important;
    color: var(--color-text) !important;
    opacity: 1 !important;
    font-family: "arabic" !important;
}
.lable {
    color: var(--color-green);
    margin-bottom: 7px;
    font-size: 18px;
}
.page-number {
    position: absolute;
    right: 20px;
    top: -25px;
    font-size: 150px;
    color: #606572;
    opacity: 0.21;
    font-weight: bold;
}
/* End Components */

/* Start Right */
.right {
    background-color: var(--light-blue);
    color: var(--color-text);
    min-height: 100%;
}
.right .caption {
    font-size: 23px;
    max-width: 420px;
}
.right .video {
    max-width: 420px;
}

.right .video > div {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}
.right .video > div .icon-play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-width: 3px;
    border-style: solid;
    border-color: var(--color-blue);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.right .video > div .icon-play svg {
    color: var(--color-blue);
}
.right .video img {
    width: 100%;
    height: auto;
}
.right .video > div::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--bg-overflow);
}
.right > .btn {
    display: flex;
    background: white;
    border-radius: 20px;
    max-width: 420px;
    color: var(--color-blue);
    margin: auto;
    padding: 13px 25px;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
}
.right > .btn > svg {
    font-size: 25px;
}
/* End Right */
/* Start Le */
main {
    background-color: var(--bg-color);
    min-height: 100%;
    color: var(--color-text);
}

/* End Main */
/* Start Level one */
.level-one .terms-service {
    background-color: var(--bg-light-green);
    padding: 20px 30px;
    max-width: 625px;
    border-radius: 18px;
}
.level-one .terms-service > h4 {
    color: var(--color-blue);
}
.level-one .terms-service ul {
    font-size: 18px;
    line-height: 1.7;
}
@media (max-width: 1199.98px) {
    .level-one .terms-service ul {
        font-size: 16px;
    }
}
.level-one .terms-service ul li::marker {
    font-size: 30px;
}
main .level-one .the-conditions {
    background-color: var(--bg-light-green);
    border: 0.5px solid #46954b;
    border-radius: 7px;
    padding: 15px 30px;
    display: block;
    width: 100%;
    max-width: 625px;
    font-size: 18px;
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: auto;
    color: var(--light-green);
    gap: 15px;
}
main .level-one .the-conditions input {
    position: relative;
}
main .level-one .the-conditions input::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 30px;
    background-color: var(--bg-light-green);
    border-radius: 50%;
    height: 30px;
    cursor: pointer;
    border: 3px solid var(--light-green);
}
main .level-one .the-conditions input::after {
    position: absolute;
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    font-weight: 900;
    left: 50%;
    cursor: pointer;

    top: 50%;
    font-size: 20px;
    color: var(--light-green);
    transform: translate(-50%, -50%);
    display: none;
}
main .level-one .the-conditions input:checked::after {
    display: block;
}

/* End Level Two */
/* Start Level Two */
.level-two {
    display: none;
}
.level-two .list-btn {
    list-style: none;
    text-align: center;
    row-gap: 3rem !important;
    margin-bottom: 4rem;
    margin-top: 8rem;
    padding: 0;
}

.level-two .list-btn li {
    display: flex;
    align-items: center;
    width: calc(calc(100% / 7) - 0.5rem);
    justify-content: flex-start;
    gap: 40px;
    flex-direction: column;
}
@media (max-width: 1399.98px) {
    .level-two .list-btn li {
        width: calc(calc(100% / 5) - 0.5rem);
    }
}

@media (max-width: 767.98px) {
    .level-two .list-btn li {
        width: calc(calc(100% / 3) - 0.5rem);
    }
}
@media (max-width: 575.98px) {
    .level-two .list-btn li {
        width: calc(calc(100% / 2) - 0.5rem);
    }
}

.level-two .list-btn li input {
    position: relative;
}

.level-two .list-btn li input::before {
    position: absolute;
    content: "";
    background: #e9f7ff;
    border: 1px solid #0491e8;
    border-radius: 10px;
    left: 50%;
    width: 64px;
    cursor: pointer;

    height: 56px;
    top: 50%;
    transform: translate(-50%, -50%);
}
.level-two .list-btn li input::after {
    position: absolute;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #0491e8;
    font-size: 35px;
    cursor: pointer;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.level-two .list-btn li:nth-of-type(1) input::after {
    content: "\f508";
}
.level-two .list-btn li:nth-of-type(2) input::after {
    content: "\f4ad";
}
.level-two .list-btn li:nth-of-type(3) input::after {
    content: "\f24e";
}
.level-two .list-btn li:nth-of-type(4) input::after {
    content: "\f19c";
}
.level-two .list-btn li:nth-of-type(5) input::after {
    content: "\f56c";
}
.level-two .list-btn li:nth-of-type(6) input::after {
    content: "\f249";
}
.level-two .list-btn li:nth-of-type(7) input::after {
    content: "\f481";
}
.level-two .list-btn li input:checked:before {
    background: var(--color-blue);
}
.level-two .list-btn li input:checked::after {
    color: #e9f7ff;
}
.level-two .choices {
    width: 100%;
}
.level-two .order-number p {
    color: var(--color-green);
    font-size: 26px;
}

.level-two .order-number input {
    border: none;
    background: #e8e8e8;
    border-radius: 7px;
    padding: 20px 15px;
    min-width: 60%;
    outline: none;
}
.level-two .order-number input::placeholder {
    font-size: 20px;
}
/* End Level Two */

/* Start Level Three */
.level-three {
    display: none;
}

.level-three .levels-bar::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 27%;
    z-index: -1;
    transform: translateX(-50%);
    width: 77%;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-image: linear-gradient(
            to left,
            var(--color-blue) 27%,
            transparent 27%
        )
        1;
}
.level-three input[type="text"] {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 0.5px solid #a5a5a5;
    border-radius: 12px;
    width: 100%;
    outline: none;
    padding: 15px;
    height: 60px;
}
.level-three .inp-text {
    position: relative;
}
.level-three input::placeholder {
    font-size: 18px;
}
.level-three .inp-text .count {
    position: absolute;
    left: 20px;
    font-size: 18px;
    color: #404040;
    top: 50%;
    transform: translateY(-50%);
}
.level-three textarea {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 0.5px solid #a5a5a5;
    border-radius: 12px;
    width: 100%;
    outline: none;
    padding: 15px;
    min-height: 200px;
}
.level-three textarea::placeholder {
    font-size: 18px;
}

.level-three .inp-text .count-area {
    position: absolute;
    left: 20px;
    font-size: 18px;
    color: #404040;
    bottom: 15px;
}
.level-three .duration .inp,
.level-three .duration label {
    width: calc(50% - 0.75rem);
}
.level-three .duration .choices__item {
    color: var(--color-blue) !important;
}
.level-three .duration label {
    color: var(--colo-red);
    font-size: 24px;
}
.level-three .duration label input {
    width: 10px;
    height: 10px;
    position: relative;
}
.level-three .duration label input::before {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: white;
    border: 3px solid var(--colo-red);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.level-three .duration label input::after {
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--colo-red);
    font-size: 19px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: none;
}
.level-three .duration label input:checked:after {
    display: block;
}
.level-three .files .send-file,
.level-three .files .send-voice {
    border-radius: 12px;
    display: flex;
    align-items: center;
    width: 215px;
    position: relative;
    height: 55px;
    font-size: 18px;
    justify-content: space-between;
}
.level-three .files .send-file input::before,
.level-three .files .send-voice input::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    cursor: pointer;
    border: 0.5px solid #048e81;
    content: "";
    background: #ecfffd 0% 0% no-repeat padding-box;
}
.level-three .files .send-file input::after {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    height: fit-content;
    width: calc(100% - 15px);
    color: #048e81;
    cursor: pointer;
    cursor: pointer;
    content: "ارفاق ملف";
}
.level-three .files .send-voice input::after {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    height: fit-content;
    width: calc(100% - 15px);
    color: #048e81;
    cursor: pointer;
    cursor: pointer;
    content: "ارفاق ملف صوتي";
}
.level-three .files .send-file svg,
.level-three .files .send-voice svg {
    position: absolute;
    left: 15px;
    color: #048e81;

    top: 50%;
    transform: translateY(-50%);
}
.level-three .files .send-file input,
.level-three .files .send-voice input {
    border-radius: 12px;

    width: 100%;
}
.level-three .files .view-file,
.level-three .files .view-voice {
    background: #f6fcff 0% 0% no-repeat padding-box;
    border: 0.5px solid #0491e8;
    border-radius: 12px;
    color: #0491e8;
    display: flex;
    align-items: center;
    width: 215px;
    height: 55px;
    padding: 15px;
    font-size: 18px;
    justify-content: space-between;
}
/* End Level Three */
/* Start Level Four */
.level-four {
    display: none;
}
.level-four .levels-bar::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 27%;
    z-index: -1;
    transform: translateX(-50%);
    width: 77%;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-image: linear-gradient(
            to left,
            var(--color-blue) 60%,
            transparent 60%
        )
        1;
}
.level-four .parent-inp {
    position: relative;
}
.level-four .parent-inp input {
    width: 100%;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 0.5px solid #a5a5a5;
    padding: 15px;
    outline: none;
    height: 60px;
    border-radius: 12px;
}
.level-four .parent-inp svg {
    position: absolute;
    top: 50%;
    left: 20px;
    color: var(--color-blue);
    font-size: 18px;
    transform: translateY(-50%);
}
.level-four .group-btn {
    margin-top: 15rem;
}
/* End Level Four */

/* Start Level Five */
.level-five {
    display: none;
}
.level-five .levels-bar::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 27%;
    z-index: -1;
    transform: translateX(-50%);
    width: 77%;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-image: linear-gradient(
            to left,
            var(--color-blue) 60%,
            var(--color-blue) 60%
        )
        1;
}
.level-five .title {
    font-size: 18px;
    gap: 1rem;
    color: var(--color-green);
    display: flex;
    align-items: center;
}
.level-five .save {
    background: transparent linear-gradient(107deg, #048e81 0%, #0995eb 100%) 0%
        0% no-repeat padding-box;
    border-radius: 6px;
    font-size: 18px;
    gap: 1rem;
    cursor: pointer;
    color: white;
    font-weight: normal;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.level-five .price {
    background: #e1eff9 0% 0% no-repeat padding-box;
    border: 0.5px solid #0491e8;
    border-radius: 8px;
    height: 79px;
    padding: 15px;
    padding-left: 25px;
}
.level-five .price .text {
    font-weight: bold;
    font-size: 18px;
    color: var(--color-blue);
}
.level-five .price .text .count {
    color: #363848;
}
.level-five .price .icon {
    color: wheat;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: transparent linear-gradient(180deg, #048e81 0%, #0491e8 100%) 0%
        0% no-repeat padding-box;
    display: flex;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    align-items: center;
    justify-content: center;
}
.level-five .group-btn {
    margin-top: 20rem;
}
/* End Level Five */
