
* {
  font-family: 'Cairo', sans-serif;
}

.main-pc {
  height: 100vh;
}

.main-pc .col-lg-4 {
  padding: 0;
}

.main-pc .col-lg-4 .content {
  background: url("../images/back.png") no-repeat center center;
  background-size: cover;
}

.main-pc .col-lg-4 .content p {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

.main-pc .col-lg-4 .content p.sup-title {
  font-size: 15px;
}

.main-pc .col-lg-4 .content p.vid-title {
  font-size: 15px;
  padding-right: 75px;
}

.main-pc .col-lg-4 .content p.num {
  font-size: 140px;
  font-family: system-ui;
  opacity: 0.5;
  font-weight: bolder;
  position: absolute;
  top: -62px;
  right: 0;
}

.main-pc .col-lg-4 .content .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-pc .col-lg-4 .content .center .img {
  position: relative;
  width: 400px;
}

.main-pc .col-lg-4 .content .center .img .back-man {
  width: 100%;
}

.main-pc .col-lg-4 .content .center .img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0000008c;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  text-align: center;
}

.main-pc .col-lg-4 .content .center .img .overlay img {
  position: relative;
  top: 144px;
}

.main-pc .col-lg-4 .content .info {
  background-color: #fff;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  height: 48px;
}

.main-pc .col-lg-4 .content .info .row {
  position: relative;
  top: -12px;
}

.main-pc .col-lg-4 .content .info p {
  color: #0995EB;
  font-weight: bold;
}

.main-pc .col-lg-4 .content .info p a {
  text-decoration: none;
  color: #0995EB;
  font-weight: bold;
  font-size: 10px;
}

.main-pc .col-lg-4 .content .info img {
  position: relative;
  top: 23px;
  width: 19px;
}

.main-pc .data .st {
  font-size: 20px;
  font-weight: bolder;
}

.main-pc .data .st .color {
  color: #46954B;
}

.main-pc .data .select .option .radio {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main-pc .data .select .option .radio:hover .checkbox-checkmark {
  border: 2px solid #6340FF;
}

.main-pc .data .select .option .radio-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.main-pc .data .select .option .radio-input:focus ~ .radio-checkmark-box {
  border-color: #46954B;
}

.main-pc .data .select .option .radio-input:checked ~ .radio-checkmark-box .radio-checkmark:after {
  display: block;
}

.main-pc .data .select .option .radio-input:checked ~ .radio-checkmark-box .radio-checkmark {
  background-color: #46954B;
  border: 2px solid #46954B;
}

.main-pc .data .select .option .radio-input:disabled ~ .radio-checkmark-box .radio-checkmark {
  border: 2px solid #B0B0B0;
  cursor: not-allowed;
}

.main-pc .data .select .option .radio-input:disabled:checked ~ .radio-checkmark-box .radio-checkmark {
  background-color: #B0B0B0;
}

.main-pc .data .select .option .radio-input:disabled:checked ~ .radio-checkmark-box .radio-checkmark:after {
  background: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.8866 9.91722L0.0873348 5.36761C0.0596566 5.34137 0.037692 5.31018 0.0227039 5.27582C0.00771585 5.24146 0 5.20461 0 5.1674C0 5.13019 0.00771585 5.09335 0.0227039 5.05899C0.037692 5.02463 0.0596566 4.99343 0.0873348 4.96719L1.29893 3.81086C1.41471 3.70049 1.60183 3.70049 1.71761 3.81086L4.87718 6.80501C4.99296 6.91538 5.18143 6.91409 5.2972 6.80372L12.2787 0.0839022C12.3945 -0.0277526 12.5829 -0.0277526 12.7001 0.0826188L13.913 1.23895C14.0288 1.34932 14.0288 1.52771 13.9143 1.63809L6.30821 8.95468L6.30956 8.95597L5.30662 9.91722C5.19085 10.0276 5.00238 10.0276 4.8866 9.91722Z' fill='%2374767B'/%3E%3C/svg%3E%0A") no-repeat center;
  background-size: contain;
}

.main-pc .data .select .option .radio-checkmark-box {
  min-width: 15px;
  max-width: 15px;
  min-height: 15px;
  max-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1.5px solid #46954B;
  border-radius: 11%;
  cursor: pointer;
}

.main-pc .data .select .option .radio-checkmark {
  min-width: 15px;
  max-width: 15px;
  min-height: 15px;
  max-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1.5px solid #46954B;
  border-radius: 11%;
  cursor: pointer;
}

.main-pc .data .select .option .radio-checkmark:after {
  content: "";
  display: none;
  background: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.8866 9.91722L0.0873348 5.36761C0.0596566 5.34137 0.037692 5.31018 0.0227039 5.27582C0.00771585 5.24146 0 5.20461 0 5.1674C0 5.13019 0.00771585 5.09335 0.0227039 5.05899C0.037692 5.02463 0.0596566 4.99343 0.0873348 4.96719L1.29893 3.81086C1.41471 3.70049 1.60183 3.70049 1.71761 3.81086L4.87718 6.80501C4.99296 6.91538 5.18143 6.91409 5.2972 6.80372L12.2787 0.0839022C12.3945 -0.0277526 12.5829 -0.0277526 12.7001 0.0826188L13.913 1.23895C14.0288 1.34932 14.0288 1.52771 13.9143 1.63809L6.30821 8.95468L6.30956 8.95597L5.30662 9.91722C5.19085 10.0276 5.00238 10.0276 4.8866 9.91722Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat center;
  width: 13px;
  height: 13px;
  background-size: contain;
}

.main-pc .data .select .option .name {
  font-size: 14px;
  font-weight: 900;
}

.main-pc .data .select .option .name.selected {
  color: #0995EB;
}

.main-pc .data .select .option .order-num {
  background-color: #ECECEC;
  position: relative;
}

.main-pc .data .select .option .details {
  background-color: #E8E8E8;
  padding: 6px 12px 5px;
  font-size: 13px;
  border-radius: 13px;
}

.main-pc .data .select .option .details.bordr {
  border: 1px solid #048E81;
}

.main-pc .data .select .option .details p {
  color: #363848;
  font-weight: bolder;
  margin-bottom: 0;
  padding-top: 6px;
}

.main-pc .data .select .option .details.selected {
  background-color: #E9FFFD;
}

.main-pc .data .select .option .details.selected p {
  color: #2B7B74;
}

.main-pc .data .select .option .details .right-mark {
  width: 21px;
  margin-left: 6px;
}

.main-pc .data .btn-primary {
  background-color: #048E81 !important;
}

.main-pc .data .big {
  width: 25%;
  margin-top: 25px;
  font-size: 12px;
  font-weight: bolder;
}

.main-pc .data .small {
  width: 18%;
  margin-top: 25px;
  font-size: 12px;
}

.main-pc .data .laws {
  background-color: #F1FAFF;
  padding: 15px;
  margin-top: 20px;
  border-radius: 12px;
}

.main-pc .data .laws p {
  font-size: 17px;
  font-weight: bold;
}

.main-pc .data .laws ul li {
  padding-top: 10px;
  color: #404040;
  font-weight: bold;
  font-size: 12px;
}

.main-pc .data .red {
  color: red;
  font-weight: bold;
  font-size: 11px;
}

.main-pc .data .red span {
  color: #000;
}

.main-pc .data .form-group select {
  color: #048E81;
}

.main-pc .data .form-group select option {
  color: #048E81;
}

.main-pc .data .icon-input {
  position: relative;
}

.main-pc .data .icon-input i {
  position: absolute;
  top: 16px;
  left: 22px;
  cursor: pointer;
  color: #048E81;
}

.main-pc .data select, .main-pc .data input:not(.order-num) {
  height: 40px;
  font-size: 10px;
}

.main-pc .data input:not(.order-num) {
  color: #048E81;
}

.main-pc .data .icons img {
  position: relative;
  top: 8px;
  cursor: pointer;
}

.main-pc .data hr {
  border-top: 2px solid #048E81;
  margin-top: 80px;
}

.main-pc .data .textare {
  position: relative;
}

.main-pc .data .textare textarea {
  resize: none;
  font-size: 10px;
}

.main-pc .data .textare .remain {
  position: absolute;
  bottom: 3px;
  left: 30px;
  font-size: 10px;
}

.main-pc .data .attach {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-pc .data .attach img {
  margin-right: 35px;
}

.main-pc .data .attach > input[type='file'] {
  display: none;
}

.main-pc .data .attach > label {
  cursor: pointer;
  outline: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  background-color: #ECFFFD;
  color: #048E81;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  font-weight: bolder;
  font-size: 15px;
}

.main-pc .data .attach > label:hover {
  background-color: #ECFFFD;
}

.main-pc .data .attach > label:active {
  background-color: #ECFFFD;
}

.main-pc .data .sounds {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-pc .data .sounds img {
  margin-right: 35px;
}

.main-pc .data .sounds > input[type='file'] {
  display: none;
}

.main-pc .data .sounds > label {
  cursor: pointer;
  outline: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  background-color: #E6F6FF;
  color: #0995EB;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  font-weight: bolder;
  font-size: 15px;
}

.main-pc .data .sounds > label:hover {
  background-color: #E6F6FF;
}

.main-pc .data .sounds > label:active {
  background-color: #E6F6FF;
}

.main-pc .data .grad {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(40%, #048E81), to(#0995EB));
  background-image: linear-gradient(to right, #048E81 40%, #0995EB 100%);
  border: 0;
  font-size: 10px;
  font-weight: bold;
}

.main-pc .data .total {
  background-color: #E6FFFD;
  border-radius: 14px;
  padding: 18px;
}

.main-pc .data .total p {
  color: #048E81;
  font-weight: bolder;
  font-size: 11px;
}

.main-pc .data .total p span {
  color: #000;
}

.main-pc .data .total p span.red {
  color: red;
  font-size: 11px;
}

.main-pc .data .total hr {
  margin-top: 0;
}

.main-pc .data .pay .pay-title {
  font-weight: bold;
  font-size: 11px;
}

.main-pc .data .pay .pay-title a {
  color: #048E81;
  text-decoration: underline;
}

.main-pc .data .pay .pay-way {
  width: 190px;
  padding: 10px 16px;
  border-radius: 11px;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}

.main-pc .data .pay .pay-way img {
  margin-left: 15px;
}

.main-pc .data .pay .pay-way.paypal {
  background-color: #E1FFFC;
  border: 1px solid #2B7B74;
  color: #2B7B74;
}

.main-pc .data .pay .pay-way.card {
  background-color: #E8EAFF;
  border: 1px solid #363848;
  color: #363848;
}

.main-pc .data .pay .pay-way.other {
  background-color: #DBF1FF;
  border: 1px solid #0995EB;
  color: #0995EB;
}

.main-pc .data .pay .pay-way.bank {
  background-color: #FFEEE1;
  border: 1px solid #FF7810;
  color: #FF7810;
}

.main-pc .col-lg-7 {
  overflow: hidden;
}

.main-pc .data1, .main-pc .data2, .main-pc .page {
  position: relative;
}

.main-pc .data2, .main-pc .page {
  left: 100vw;
}

.main-pc .conta-back.d-none {
  display: inline-table !important;
}

.main-pc .cont.d-none {
  display: inline-table !important;
}

.main-pc .data1 .head .form-check-input {
  height: 15px !important;
}
/*# sourceMappingURL=layout.css.map */